<table class='table table-bordered'>
  <thead class='bg-dark text-white'>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'>Primeiro nome</th>
      <th scope='col'>Último nome</th>
      <th scope='col'>Email</th>
      <th scope='col'>Telefone</th>
      <th scope='col' class='text-center'>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope='row'>1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>email@teste.com</td>
      <td>84955881155</td>
      <td class='text-center'>
        <a href='' class='btn btn-warning btn-sm'><i class='bi bi-eye'></i>
          View</a>
        <a href='' class='btn btn-success btn-sm'><i class='bi bi-pencil'></i>
          Edit</a>
        <a href='' class='btn btn-danger btn-sm'><i class='bi bi-person-x'></i>
          Delete</a>
      </td>
    </tr>
  </tbody>
</table>